body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.full-container{
  width: 100% !important;
}

.masthead {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 12em !important;
  padding-bottom: 12em !important;
}

.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.subhead {
  position: relative;
  background-color: #FFF;
  background-size: cover;
  padding-top: 9em !important;
  padding-bottom: 12em !important;
}

.subhead .overlay {
  position: absolute;
  background-color: #FFF;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.formcontent{
  margin-bottom: 12px;
}

.formcontent{
  margin-bottom: 12px;
}

.formcontent input::placeholder{
   font-weight: normal !important;
   font-size: 12pt;
}

.formcontentbt button{
   margin-top: 12px;
   font-size: 12pt;
}

.formcontent h2, p{
   color: #212529;
}

.formcontent a{
  color: #212529;
}

.sections{
  width: 1250px;
}

.showcase{
    padding: 85px 0px;
}

.showcase .showcase-img {
  height: 450px !important;
  background-size: cover;
}

.showcase .showcase-text {
  height: 350px !important;
}

.dark{
  margin-top: 45px;
  text-align: center;
  padding: 50px 150px !important;
}

.form-control-lg::placeholder{
   font-weight: normal !important;
   font-size: 14pt;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 10rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
  color: #3A840F !important;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
  color: #3A840F !important;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer ul li i{
  color: #117C05;
}

.footer ul li a{
  color: #33342E;
}

.icon{
  font-size: 65pt;
  color: #117C05;
  margin-bottom: 25px;
}

h1.maintitle{
  color: #fff !important;
  font-size: 35pt;
}

.img-load{
  background-image: url(./images/onebgshowcase.jpg);
}

.footer-menu{
   margin: 0 auto;
   display: table;
   padding: 10px 0px;
}

.footer-menu ul li{
   margin-left: 10px;
   margin-right: 10px;
}

.footer-menu ul li a{
  text-decoration: none;
}

.footer-menu ul li a:hover{
  text-decoration: underline;
}